.not-found {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 100vw;  
    margin: 0 auto;
      cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4424790/cursors-edge.png"),
      auto;
}

