.pokemon__btn-back {
    border: white solid 1px;
    background: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    padding: 0;
    margin: auto;
}

.pokemon__btn-back:hover {
    opacity: 0.6;
    transition: ease-in 0.3s;
}

@media (max-width: 720px) {
    .pokemon__btn-back {
        margin: auto;
        width: 100%;
    }
}