@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');  

@import url('./blocks/header/header.css'); 
@import url('./blocks/header/__navigation/header__navigation.css'); 
@import url('./blocks/header/__link/header__link.css'); 
@import url('./blocks/header/__link/_active/header__link_active.css');   

@import url('./blocks/body/body.css'); 
@import url('./blocks/page/page.css'); 
 
@import url('./blocks/elements/elements.css'); 
@import url('./blocks/elements/__title/elements__title.css'); 
@import url('./blocks/elements/__count/elements__count.css'); 
 
@import url('./blocks/pokemon/pokemon.css'); 
@import url('./blocks/pokemon/__link/pokemon__link.css'); 
@import url('./blocks/pokemon/__container/pokemon__container.css');
@import url('./blocks/pokemon/__picture/pokemon__picture.css'); 
@import url('./blocks/pokemon/__parameters/pokemon__parameters.css');
@import url('./blocks/pokemon/__btn-back/pokemon__btn-back.css');  

@import url('./blocks/element/element.css');
@import url('./blocks/element/__pic/element__pic.css'); 
@import url('./blocks/element/__title/element__title.css'); 
@import url('./blocks/element/__card/element__card.css'); 
@import url('./blocks/element/__container/element__container.css'); 
@import url('./blocks/element/__button/element__button.css');

@import url('./blocks/footer/footer.css'); 
@import url('./blocks/footer/__copyrigth/footer__copyrigth.css'); 

@import url('./blocks/not-found/not-found.css'); 
@import url('./blocks/not-found/__button/not-found__button.css'); 
@import url('./blocks/not-found/__title/not-found__title.css'); 
@import url('./blocks/not-found/__text/not-found__text.css');
@import url('./blocks/not-found/__text-container/not-found__text-container.css'); 

@import url('./blocks/pagination/pagination.css'); 
@import url('./blocks/pagination/__container/pagination__container.css'); 
@import url('./blocks/pagination/__button/pagination__button.css'); 

